In [1]:
import json 
import pandas as pd
import glob

In [18]:
def get_column_names(schemas , ds_name , sorting_key = 'column_position'): 
    column_details = schemas[ds_name]
    columns = sorted(column_details , key = lambda col:col[sorting_key])
    return [col['column_name']for col in columns]

In [29]:
schemas = json.load(open ('data/retail_db/schemas.json'))

In [21]:
src_file_names = glob.glob('data/retail_db/*/part*')

In [3]:
src_file_names

['data/retail_db/categories/part-00000',
 'data/retail_db/orders/part-00000',
 'data/retail_db/customers/part-00000',
 'data/retail_db/order_items/part-00000',
 'data/retail_db/products/part-00000',
 'data/retail_db/departments/part-00000']

In [22]:
for file_name in src_file_names:
    folders = file_name.split('/')
    print(folders)

['data', 'retail_db', 'categories', 'part-00000']
['data', 'retail_db', 'orders', 'part-00000']
['data', 'retail_db', 'customers', 'part-00000']
['data', 'retail_db', 'order_items', 'part-00000']
['data', 'retail_db', 'products', 'part-00000']
['data', 'retail_db', 'departments', 'part-00000']

In [23]:
file = src_file_names[0]

In [8]:
file

'data/retail_db/categories/part-00000'

In [24]:
 file_details = file.split('/')

In [25]:
file_details

['data', 'retail_db', 'categories', 'part-00000']

In [32]:
ds_name = file_details[-2]

In [31]:
columns = get_column_names(schemas , ds_name )

In [34]:
df = pd.read_csv(file , names = columns )

In [50]:
for file in src_file_names:
    print(f'processing {file}')
    ds_name = file.split('/')[-2]
    columns = get_column_names(schemas , ds_name)
    df = pd.read_csv(file,names=columns)
    print(f'shape of {ds_name} is {df.shape}')

processing data/retail_db/categories/part-00000
shape of categories is (58, 3)
processing data/retail_db/orders/part-00000
shape of orders is (68883, 4)
processing data/retail_db/customers/part-00000
shape of customers is (12435, 9)
processing data/retail_db/order_items/part-00000
shape of order_items is (172198, 6)
processing data/retail_db/products/part-00000
shape of products is (1345, 6)
processing data/retail_db/departments/part-00000
shape of departments is (6, 2)

In [51]:
df

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop